#ProjectWatcherView_Button 
{
    font: italic 14px;
    background: transparent;
}

#ProjectWatcherView_Button:hover 
{
    text-decoration: underline;
}

#ProjectWatcherView_Separator
{
	font: italic 14px;
	background: transparent;
}